<!-- --> 
<head>
    <link rel="stylesheet" href="css/test2.css" media="all">
    <link rel="stylesheet" href="css/test.css" media="all">
    <link rel="stylesheet" href="css/mobiscroll_date.css" media="all">
    <link rel="stylesheet" href="css/dialog.css" media="all">


    
</head>
<div class="topbar" id="header" ng-show="detailBodyVar">
    <div class="toolbar_btn back_btn" ng-click="goBackPage()"></div>
    <span class="title">律师详情</span>
    <div class="toolbar_btn srh_btn" ng-click="goFindLawyerIndex()"></div>
</div>
<div class="main" ng-show="detailBodyVar">
<div class="detail_wrap">
    <div class="case_company">
        <div class="item_wrap">
            <h1 class="company_name">{{id}}</h1>   
            <a class="control_company" id="cancel_follow_btn" href="####">取消关注</a>
            <a class="control_company" id="follow_btn" href="####"><span>+&nbsp;</span>关注</a>
        </div>
    </div>
    <div class="case_statistic">
        <div class="item_title">
            案件统计
        </div>
        <div class="item_wrap">
            <div class="" id="case_statistic_wrap"></div>
        </div>
    </div>
    <div class="lawer_analyze">
        <div class="item_title">
            数据分析
        </div>
        <div class="item_wrap_other">
            <div class="item_wrap_title">
                <ul class="item_wrap_tab">
                    <li ng-click="tabSelected1()" ng-class="{'active':tabVar == 1}">
                        <a class="case_tab">案件分析</a>
                    </li>
                    <li ng-click="tabSelected2()" ng-class="{'active':tabVar == 2}">
                        <a class="relation_tab">原被告关系图谱</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="tabVar == 1">
            <div class="item_wrap_condition">
            <ul class="item_wrap_filter item_wrap_filter_3">
                <li ng-click="case_timeSelShow()"><a>时间&nbsp;&nbsp;></a></li>
                <li ng-click="case_cotSelShow()"><a>地域&nbsp;&nbsp;></a></li>
                <li ng-click="case_ctgSelShow()"><a>案由&nbsp;&nbsp;></a></li>
            </ul>
            <div class="item_other">
                    <div class="item_other_title item_title_control">
                        <b class="item_title_text">所选条件：</b>
                        <span class="case_select">{{tConditions}}</span>
                    </div>
                    <div class="item_other_detail">
                        <div class="display-flexbox case_type">
                            <div class="flexbox-children case_count_wrap beigao_wrap">
                                <div class="case_count_title">被告</div>
                                <div class="case_count_detail">
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">涉案金额：</span>
                                        <span class="case_count_value">{{amount.defCaseSum}}</span>
                                    </div>
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">案件数量：</span>
                                        <span class="case_count_value">{{amount.defCaseAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flexbox-children case_count_wrap yuangao_wrap">
                                <div class="case_count_title">原告</div>
                                <div class="case_count_detail">
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">涉案金额：</span>
                                        <span class="case_count_value">{{amount.plaCaseSum}}</span>
                                    </div>
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">案件数量：</span>
                                        <span class="case_count_value">{{amount.plaCaseAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flexbox-children case_count_wrap other_wrap">
                                <div class="case_count_title">其他</div>
                                <div class="case_count_detail">
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">涉案金额：</span>
                                        <span class="case_count_value">{{amount.othCaseSum}}</span>
                                    </div>
                                    <div class="case_count_item">
                                        <span class="case_count_lbl">案件数量：</span>
                                        <span class="case_count_value">{{amount.othCaseAmount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="chart timing scroll" id="caseTimingChart"></div>
        </div>
        <div ng-show="tabVar == 2">
            <div class="item_wrap_condition">
                <ul class="item_wrap_filter item_wrap_filter_3">
                    <li ng-click="rel_timeSelShow()"><a>时间&nbsp;&nbsp;></a></li>
                    <li ng-click="rel_plnSelShow()"><a>原告&nbsp;&nbsp;></a></li>
                    <li ng-click="rel_ctgSelShow()"><a>案由&nbsp;&nbsp;></a></li>
                </ul>
                <div class="item_other">
                <div class="item_other_title item_title_control item_title_control_line">
                    <b class="item_title_text">所选条件：</b>
                    <span class="case_select">{{rConditions}}</span>
                </div>
                </div>
                <div class="chart rel-svg" id="relation"></div>

            </div>
        </div>
    </div>
</div>
<div class="right_btn_wrap">
    <a gotop style="display:none" id="scrollVar">滑动到页首</a>
    <a href="#">对话</a>
</div>
</div>
<div ng-show="reDateSelVar">
    <div class="header_back">
        <div class="back" ng-click="reCancel()"></div>
        <div class="title">时间选择</div>
        <div class="sure" ng-click="time_refreshRelationChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="time_sel_check case_sel">
            <li my-touchstart="rtouchStart(1)" my-touchend="refgdSel(1)" r="1" ng-class="{'right':retFgd == 1,'active':relActiveVar == 1}">最近一年半</li>
            <li my-touchstart="rtouchStart(2)" my-touchend="refgdSel(2)" r="2" ng-class="{'right':retFgd == 2,'active':relActiveVar == 2}">最近半年</li>
            <li my-touchstart="rtouchStart(3)" my-touchend="refgdSel(3)" r="3" ng-class="{'right':retFgd == 3,'active':relActiveVar == 3}">今年至今</li>
            <li my-touchstart="rtouchStart(4)" my-touchend="refgdSel(4)" r="4" ng-class="{'right':retFgd == 4,'active':relActiveVar == 4}">有记录至今</li>
        </ul>

        <div class="date_picker">
            <div class="date_picker_input_box display-flexbox">
                <div class="date_picker_input_title">时间范围：</div>
                <div class="flexbox-children">
                    <input readonly type="text" ng-model="restart" ts-datepicker placeholder="选择起始时间" class="date_picker_input" ng-class="{'active': focusVar ==1}" my-focused = "tFocused(1)"/>
                    <input readonly type="text" ng-model="reend" te-datepicker placeholder="选择结束时间" class="date_picker_input" ng-class="{'active': focusVar ==2}" my-focused = "tFocused(2)"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="plaintiffrelVar">
    <div class="header_back">
        <div class="back" ng-click="reCancel()"></div>
        <div class="title">原告选择</div>
        <div class="sure" ng-click="plf_refreshRelationChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="case_sel">
            <li ng-controller="plaintifflCtrl" my-touchstart="touchStart()" my-touchend="plaintiffSel(x)" 
                ng-repeat="x in plaintiffs | orderBy :'x'"
                ng-class="{'right':plaintiffClickVar,'active': activeVar}">
                {{x}}
            </li>
        </ul>
    </div>
</div> 
<div ng-show="rectgSelVar">
    <div class="header_back">
        <div class="back" ng-click="reCancel()"></div>
        <div class="title">案由选择</div>
        <div class="sure" ng-click="ctg_refreshRelationChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="case_sel">
            <li ng-controller="rectgSelCtrl" my-touchstart="touchStart()" my-touchend="rectgSel(x)" 
                ng-repeat="x in recategory | orderBy :'name'"
                ng-class="{'right':rectgClickVar,'active': activeVar}">
                {{x.name}}({{x.count}})
            </li>
        </ul>
    </div>
</div> 
<div ng-show="timingDateSelVar">
    <div class="header_back">
        <div class="back" ng-click="timingCancel()"></div>
        <div class="title">时间选择</div>
        <div class="sure" ng-click="time_refreshTimeChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="time_sel_check case_sel">
            <li my-touchstart="titouchStart(1)" my-touchend="fgdSel(1)" f="1" ng-class="{'right':tFgd == 1,'active':tiActiveVar == 1}">最近一年半</li>
            <li my-touchstart="titouchStart(2)" my-touchend="fgdSel(2)" f="2" ng-class="{'right':tFgd == 2,'active':tiActiveVar == 2}">最近半年</li>
            <li my-touchstart="titouchStart(3)" my-touchend="fgdSel(3)" f="3" ng-class="{'right':tFgd == 3,'active':tiActiveVar == 3}">今年至今</li>
            <li my-touchstart="titouchStart(4)" my-touchend="fgdSel(4)" f="4" ng-class="{'right':tFgd == 4,'active':tiActiveVar == 4}">有记录至今</li>
        </ul>

        <div class="date_picker">
            <div class="date_picker_input_box display-flexbox">
                <div class="date_picker_input_title">时间范围：</div>
                <div class="flexbox-children">
                    <input readonly type="text" ng-model="tstart" ts-datepicker placeholder="选择起始时间" class="date_picker_input" ng-class="{'active': focusVar ==1}" my-focused = "tFocused(1)"/>
                    <input readonly type="text" ng-model="tend" te-datepicker placeholder="选择结束时间" class="date_picker_input" ng-class="{'active': focusVar ==2}" my-focused = "tFocused(2)"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="cotSelVar">
    <div class="header_back">
        <div class="back" ng-click="timingCancel()"></div><!-- ng-click="cotCancel()" -->
        <div class="title">地域选择</div>
        <div class="sure" ng-click="cot_refreshTimeChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="case_sel">
            <li ng-controller="cotSelCtrl" my-touchstart="touchStart()" my-touchend="cotSel(x)" 
                ng-repeat="x in court | orderBy :'name'"
                ng-class="{'right':cotClickVar,'active': activeVar}">
                {{x.name}}({{x.count}})
            </li>
        </ul>
    </div>
</div>
<div ng-show="ctgSelVar">
    <div class="header_back">
        <div class="back" ng-click="timingCancel()"></div><!-- ng-click="cotCancel()" -->
        <div class="title">案由选择</div>
        <div class="sure" ng-click="ctg_refreshTimeChart()">确定</div>
    </div>
    <div class="main">    
        <ul class="case_sel">
            <li ng-controller="ctgSelCtrl" my-touchstart="touchStart()" my-touchend="ctgSel(x)" 
                ng-repeat="x in category | orderBy :'name'"
                ng-class="{'right':ctgClickVar,'active': activeVar}">
                {{x.name}}({{x.count}})
            </li>
        </ul>
    </div>
</div>

<!-- 弹出层 -->
<div class="dialog_list_box hidden" id="docView">
    <div class="dialog_list">
        <div>
            <div class="dialog_list_title">
                <span id="nodeName"></span>
                <span class="cancel" ng-click="bookCancel()"></span>
            </div>
            <div class="dialog_list_subtitle" id="nodeBookNum"></div>
            <ul id="relbookList">
       
            </ul>
        </div>
        
    </div>
    
</div>
<!-- 弹出层.end -->
