
    <div class="header_company"> 
        <div class="icon_home"></div>
        <div class="title">企业诉讼分析</div>
        <div class="icon_set"></div>
    </div>
    <div class="main">    
        <div class="findlawyer_head_pic">
            <img src="img/enterprise_head.png"/>
        </div>
        <div class="findlawyer_select">
            <div class="inputbox">
                <input placeholder="请输入企业名称" ng-model="searchKeys"></input>
                <div class="button"><a class="search-btn" href="#/enterprise/detail/{{searchKeys}}">搜索</a></div>
            </div>
            
        </div>
        <div class="enterp_bg" ng-show="judgeVar">
            <div class="no_result">
                <div class="no_result_tips">
                没有找到您搜索的企业，请确认公司名称是否正确，您是在找：
                </div>
                <ul class="no_result_list">
                    <li ng-repeat="x in judges">
                        <a href="#/enterprise/detail/{{x}}">{{$index+1}}、{{x}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
