<head>
    <link rel="stylesheet" href="css/lyr.detail.css" media="all">
</head>

    <div class="topbar" id="header" ng-show="detailBodyVar">
        <div class="toolbar_btn back_btn" ng-click="goBackPage()"></div>
        <span class="title">律师详情</span>
        <div class="toolbar_btn srh_btn" ng-click="goFindLawyerIndex()"></div>
    </div>
    <div class="main" ng-show="detailBodyVar">
        <div class="detail_wrap" ng-show="detailBodyVar">
            <div class="lawer_box lawer_box_detail">
                <div class="avatar_box">
                    <img src="http://pic.51djl.cn/{{lawyerInfo.detail.photoMd}}" onerror="this.src='http://www.51djl.cn:80/views/img/default.jpg'" alt="">
                    {{lawyerInfo.summary.lawyerName}}
                    <span class="certified" ng-show="{{lawyerInfo.base.isVerified == 1}}">已认证</span>
                </div><!-- /.avatar_box -->

                <ul class="lawer_info">
                    <li class="lawer_info_sex" ng-show="lawyerInfo.detail.gender ==1">女</li>
                    <li class="lawer_info_sex" ng-show="lawyerInfo.detail.gender ==0">男</li>
                    <li class="lawer_info_sex" ng-hide="lawyerInfo.detail.gender ==0||lawyerInfo.detail.gender ==1"></li>
                    <li class="lawer_info_years">{{lawyerInfo.detail.experienceYear}}年</li>
                    <li class="lawer_info_id">{{lawyerInfo.summary.lawyerId}}</li>
                    <li class="lawer_info_skill">{{lawyerInfo.summary.workField}}</li>
                    <li class="lawer_info_address">{{lawyerInfo.summary.workArea}}</li>
                    <li class="lawer_info_company">{{lawyerInfo.summary.lawOffice}}</li>
                    <li class="lawer_info_phone"><a class="phone_login" href="####">登录查看</a></li>
                </ul><!-- /.lawer_info -->
            </div>
            <div class="lawer_intro">
                <div class="item_title">
                    律师介绍
                </div>
                <div class="item_wrap">
                    <div class="item item_self">
                        <div class="item_left">自我 <br> 描述：</div>
                        <div class="item_right">江苏省南京市律师事务所江苏省南京市律师事务所江苏省南京市律师事务所江苏省南京市律师事务所江苏省南京市律师江苏省南京市律师事务所</div>
                    </div>
                </div>
                <div class="item_wrap next_item_wrap">
                    <div class="item item_report">
                        <div class="item_left">媒体 <br> 报道：</div>
                        <div class="item_right">
                            <a href="####">|&nbsp;&nbsp;&nbsp;xx纠纷案例xx纠纷案例xx纠纷案例xx纠纷案例</a>
                            <a href="####">|&nbsp;&nbsp;&nbsp;xx纠纷案例xx纠纷案例xx纠纷案例xx纠纷案例</a>
                        </div>
                    </div>
                    <div class="item item_workbook">
                        <div class="item_left">相关 <br> 著作：</div>
                        <div class="item_right">
                            <ul class="workbook_list">
                                <li>| <span class="book_name">xx纠纷案例</span><span class="book_press">南京人民日报出版社出版</span><span class="book_time">2015/12/20</span></li>
                                <li>| <span class="book_name">xx纠纷案例</span><span class="book_press">南京人民日报出版社出版</span><span class="book_time">2015/12/20</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lawer_analyze">
                <div class="item_title">
                    数据分析
                </div>
                <div class="item_wrap_other">
                    <div class="item_wrap_title">
                        <ul class="item_wrap_tab">
                            <li ng-click="tabSelected1()" ng-class="{'active':tabVar == 1}"><a class="interact_tab" >交互分析</a></li>
                            <li ng-click="tabSelected2()" ng-class="{'active':tabVar == 2}"><a class="common_tab">综合分析</a></li>
                        </ul>
                    </div>
                    <div ng-show="tabVar == 2">
                        <div class="item_other">
                            <div class="item_other_title">
                                <b class="item_title_text">基于法院的案件及胜诉率统计</b>
                            </div>
                            <div class="item_other_detail">
                                <div id="chart_1"></div>
                                <div class="chart_des">
                                    <ul class="chart_list" id="cotNameList">
                                        <li ng-repeat="x in chartCots.data | limitTo:cotsMax" >
                                            {{x.letter}}&nbsp;&nbsp;&nbsp;{{x.name}}
                                        </li>

                                        <li class="chart_list_more" ng-show="chartCots.data.length > itemShowMax" ng-click="toggleShowCots(chartCots.data)" ng-class="{'show':showCotsVar}"><span>更多</span></li>
                                    </ul>
                                    <div class="pie" id="pie_1"></div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="item_other">
                            <div class="item_other_title">
                                <b class="item_title_text">基于案由的案件及胜诉率统计</b>
                            </div>
                            <div class="item_other_detail">
                                <div id="chart_2"></div>
                                <div class="chart_des">
                                    <ul class="chart_list" id="ctgNameList">
                                        <li ng-repeat="x in chartCtgs.data | limitTo:ctgsMax" >
                                            {{x.letter}}&nbsp;&nbsp;&nbsp;{{x.name}}
                                        </li>
                                    </ul>
                                    <div class="" ng-show="chartCtgs.data.length > itemShowMax" ng-click="toggleShowCtgs(chartCtgs.data)" ng-class="{'show':showCtgsVar}">更多</div>
                                    <div class="pie" id="pie_2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="tabVar == 1">
                    <ul class="item_wrap_filter">
                        <li ng-click="ctgShow()"><a >案由&nbsp;&nbsp;></a></li>
                        <li ng-click="cotShow()"><a >地域&nbsp;&nbsp;></a></li>
                    </ul>
                    <div class="item_other">
                        <div class="item_other_title">
                            所选条件：
                            <span ng-repeat="x in caseSelected" class="case_select">{{x+" "}}</span>
                        </div>
                        <div class="item_other_detail">
    						<ul class="lawyerDetail_rate">
                                <li class="clearfix" ng-repeat = "x in cases | filter:courtFilter | filter:categoryFilter">
                                    <div class="lawyerDetail_rate_l floatl">
                                        <div>{{x.ctg}}</div>
                                        <div class="tu">
                                            <span>占比</span>
                                            <span class="rate"><b style="width:{{x.rate}};"></b></span>
                                            <span>{{x.rate}}</span>
                                        </div>
                                    </div>
                                    <div class="lawyerDetail_rate_l floatl">
                                        <div class="title">
                                            <span>{{x.cot}}</span>
                                            <span class="num">{{x.num}}件</span>
                                        </div>
                                        <div class="tu">
                                            <span>胜诉率</span>
                                            <span class="rate"><b class="blue" style="width:{{x.winRate}};"></b></span>
                                            <span>{{x.winRate}}</span>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>  

                        </div>
                    </div>
                    <div class="item_other">
                        <div class="item_other_title item_title_control">
                            <b class="item_title_text">相关文书</b>
                        </div>
                        <div class="item_other_detail">
                            <div class="hidden" ng-repeat="x in books | filter:courtFilter | filter:categoryFilter as showbooks"></div>
                            <ul class="item_book_list">
                                <li class="red_book" ng-repeat="x in books | filter:courtFilter | filter:categoryFilter| limitTo:maxBookSize">
                                    <div class="item_book {{x.bgSty}}">
                                        <div class="item_book_name">
                                            <a href="{{x.link}}">{{x.tit}}</a>
                                        </div>
                                        <div class="item_book_info">
                                            <span class="item_book_refer">{{x.cot}}</span>
                                            <span class="item_book_time">{{x.day}}</span>
                                        </div>
                                    </div>
                                </li>                            
                            </ul>
                            <a class="item_more" ng-show="moreVar" ng-click="getMoreBook()">查看更多</a>
                        </div>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="right_btn_wrap">
            <a gotop style="display:none" id="scrollVar">滑动到页首</a>
            <a href="#">对话</a>
        </div><!-- /.right_btn_wrap -->
    </div>
    <div ng-show="categorySelVar">
            <div class="header_back"><!-- ng-click="ctgCancel()" -->
                <div class="back" ng-click="ctgCancel()"></div>
                <div class="title">案由选择</div>
                <div class="sure" ng-click="categorySure()">确定</div>
            </div>
            <div class="main">    
                <ul class="case_sel">
                    <li ng-controller="categorySelCtrl"  my-touchstart="touchStart()" my-touchend="categorySel(x)" ng-repeat="x in category | orderBy :'name'"
                        ng-class="{'right':categoryClickVar,'active': activeVar}">
                        {{x.name}}({{x.count}})
                    </li>
                </ul>
            </div>
    </div>

    <div ng-show="cotSelVar">
        <div class="header_back">
            <div class="back" ng-click="cotCancel()"></div><!-- ng-click="cotCancel()" -->
            <div class="title">地域选择</div>
            <div class="sure" ng-click="cotSure()">确定</div>
        </div>
        <div class="main">    
            <ul class="case_sel">
                <li ng-controller="cotSelCtrl" my-touchstart="touchStart()" my-touchend="cotSel(x)" ng-repeat="x in court | orderBy :'name'" ng-class="{'right':cotClickVar,'active': activeVar}">
                    {{x.name}}({{x.count}})
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(window).scroll(function(){ 
            //获取窗口的滚动条的垂直位置 
            var s = $(window).scrollTop(); 
            //当窗口的滚动条的垂直位置大于页面的最小高度时，让返回顶部元素渐现，否则渐隐 
            if( s > 500){ 
                $("#scrollVar").fadeIn(100); 
            }else{ 
                $("#scrollVar").fadeOut(200); 
            }; 
        }); 
    </script>