.dialog_list_box{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background: rgba(0,0,0,.4);*/
	z-index: 1000;
}
.dialog_list{
	position: absolute;
	bottom: 20px;
	margin: 0 5px;
	background: #ffffff;
	border-radius: 10px;
	max-height: 400px;
	overflow: auto;
}
	.dialog_list_title{
		background: #08a6f5;
		height: 33px;
		line-height: 33px;
		color: #fff;
		font-size: 1.2rem;
		padding: 0 8px;
	}
	.dialog_list_subtitle{
		height: 30px;
		line-height: 30px;
		color: #1b1a20;
		font-size: 1rem;
		padding: 0 8px;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #ff780a;
		border-right: 1px solid #ff780a;
	}
	.dialog_list ul{
		border-left: 1px solid #ff780a;
		border-right: 1px solid #ff780a;
		border-bottom: 1px solid #ff780a;
	}
	.dialog_list ul li{position:relative;color: #0e0e0e;font-size: .9rem;padding: 11px 8px 26px 8px;border-bottom: 1px solid #cccccc;}
	.dialog_list ul li .time{position: absolute;right: 8px;bottom: 0px;}
	.dialog_list_title .cancel{
		width: 25px;
		height: 25px;
		position: absolute;
		right: 3px;
		top: 4px;
		background: url(../img/cancel.png) no-repeat;
		background-size: 25px 25px;
	}

/*tips*/
.tip{
	margin: 0 9%;
	background: #ffffff;
	position: absolute;
	top: 58px;
	padding: 13px;
	border:1px solid #bfc6c7;
	z-index: 10;
	color: #333;
	font-size: 1rem;
	line-height: 1.7rem;
}
.tip_long{
	margin: 0 10px;
}
.tip_box{
	position: relative;
}
	.tip_sar:before,.tip_sar:after{
		position: absolute;
		content: "";
		width: 0;
		top: -6px;
		left: 10%;
		margin-left: -7px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 6px solid #bfc6c7;
	}
	.tip_sar:after{
		top: -5px;
		border-bottom: 7px solid #fff;
	}
	.tip_icon{
		position: absolute;
		top: -22px;
		right: -17px;		
		width: 21px;
		height: 25px;
		background: url(../img/dialog_icon.png) no-repeat;
		background-size: 21px 25px;
	}
	.tip_box span{
		color: #ff1800;
	}

.tip_login{
	right: 10px;
	top: 50px;
	padding: 8px;
	margin: 0;
}



.common_dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.4);
	z-index: 1000;
}
.alert_wrapper {
	border-radius: 5px;
	background: #fff;
	margin: 45% 10px;
}
.alert_wrapper .title{
	font-size: 1.2rem;
	padding:10px 0 5px 21px;
	border-bottom: 1px solid #919191;
}
.alert_main{
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 1.5rem;

}