.header-icon{
	position: absolute;
  	top: 12px;
  	left: 9px;
	height: 22px;
	width: 22px;
	background: url('../img/icon_home.png') no-repeat;
	background-size: 22px 22px;
}
/*.header-icon:before{
	position: absolute;
	left: 80px;
	top: 3px;
	content: '';
	height: 25px;
	width: 1px;
	border-left: 1px solid #868484;
}*/
.header-sel{
	position: absolute;
	top: 0px;
	right: 10px;
	padding-right: 15px;
	background: url(../img/sarr.png) no-repeat right;
	background-size: 10px 6px;
	color: #1b1a20;
	font-size:1.6rem;
}
.findlawyer_head_pic img{width: 100%;border-bottom: 1px solid #c0c0c0;}
.findlawyer_select{position:relative;margin: 8px 0;border-top: 1px solid #c0c0c0;border-bottom: 1px solid #c0c0c0;background: #fff;}
.findlawyer_select .inputbox{
	position: relative;
	height: 37px;
	line-height: 37px;
	margin: 10px;
	border:1px solid #ff4914;
	border-radius: 4px;

}
.findlawyer_select .inputbox input{
	box-sizing:border-box;
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: calc(100% - 100px);
	margin-left: 5px;
	padding-left: 20px;
	background: url('../img/search.png') no-repeat 3px 2px;
	background-size: 12px 12px;
}
.findlawyer_select .inputbox .button{
	position: absolute;
	top: 0px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	background:#ff3a00;
	right: 0px;
	width: 90px;

}
.icon-text-line{background: #fff;position: relative;}
.icon-text-line li{width: 25%;border-top: 1px solid #e8e8e8;float: left;padding: 10px 0;border-left: 1px solid #e8e8e8;box-sizing: border-box;}
.icon-text-line li.active{background: #eee;}
.icon-text-line li .icon{
	margin: 12px auto;
	}
	.icon-text-line li .text{
	font-size: 1.3rem;
	color: #333;
	text-align: center;

}

.icon-text-line li .icon.ptmsjf{
	height: 25px;
	width: 25px;
	background: url('../img/icon/ptmsjf.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.fdc{
	height: 25px;
	width: 25px;
	background: url('../img/icon/fdc.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.sw{
	height: 25px;
	width: 25px;
	background: url('../img/icon/sw.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.ht{
	height: 25px;
	width: 25px;
	background: url('../img/icon/ht.png') no-repeat;
	background-size: 25px 25px;
}

.icon-text-line li .icon.gsjf{
	height: 25px;
	width: 25px;
	background: url('../img/icon/fs.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.hshs{
	height: 25px;
	width: 25px;
	background: url('../img/icon/hshs.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.zscq{
	height: 25px;
	width: 25px;
	background: url('../img/icon/zscq.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.trzyw{
	height: 25px;
	width: 25px;
	background: url('../img/icon/trz.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.pcaj{
	height: 25px;
	width: 25px;
	background: url('../img/icon/pc.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.xzjf{
	height: 25px;
	width: 25px;
	background: url('../img/icon/xz.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.xs{
	height: 25px;
	width: 25px;
	background: url('../img/icon/xs.png') no-repeat;
	background-size: 25px 25px;
}
.icon-text-line li .icon.zxaj{
	height: 25px;
	width: 25px;
	background: url('../img/icon/zx.png') no-repeat;
	background-size: 25px 25px;
}
/*一级菜单*/
.icon-text-line .first-list{
	width: 100%;
	z-index: 10;
	padding: 9px 9px 0 9px;
	position: absolute;
	top: 84px;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
}
.icon-text-line .first-list .item{
	float: left;
	padding: 9px;
	border:1px solid #a5b3bb;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: #787878;
}
.icon-text-line .first-list .item.active{
	color: #fff;
	background: #00a3f5;
}
/*二级菜单*/
.icon-text-line .second-list , 
.icon-text-line .city-second-list, 
.icon-text-line .city-first-list{
	z-index: 10;
	padding: 9px 9px 0 9px;
	position: absolute;
	top: 84px;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
}
.lawer_city_sel .city-second-list ,
.lawer_city_sel .city-first-list{
	top: 0;
}
.icon-text-line .second-list .title , 
.icon-text-line .city-second-list .title , 
.icon-text-line .city-first-list .title{
	padding-bottom: 9px;
	margin-bottom: 9px;
	border-bottom: 1px solid #e8e8e8;
	color: #fff;
	font-size: 1.3rem;
}
.icon-text-line .second-list .title .text ,
.icon-text-line .city-second-list .title .text ,
.icon-text-line .city-first-list .title .text{
	color: #1b1a20;
	font-size: 1rem;
}
.icon-text-line .second-list .title .title-first, 
.icon-text-line .city-second-list .title .title-first,
.icon-text-line .city-first-list .title .title-first{
	padding: 0 15px 0 5px;
	display: inline-block;
	/*width: 100%;*/
	height: 22px;
	line-height: 22px;
	background: url('../img/title-1.png') no-repeat;
	background-size: 100% 22px;
	text-align: center;
}
.icon-text-line .second-list .title .title-second ,
.icon-text-line .city-second-list .title .title-second,
.icon-text-line .city-first-list .title .title-second{
	margin-left: -8px;
	padding: 0 15px;
	display: inline-block;
	/*width: 111px;*/
	height: 22px;
	line-height: 22px;
	background: url('../img/title-2.png') no-repeat;
	background-size: 100% 22px;
	text-align: center;
}

.icon-text-line .second-list .item ,
.icon-text-line .city-second-list .item ,
.icon-text-line .city-first-list .item{
	float: left;
	padding: 9px;
	border:1px solid #a5b3bb;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: #787878;
}
.icon-text-line .second-list .item.active , 
.icon-text-line .city-second-list .item.active ,
.icon-text-line .city-first-list .item.active {
	color: #fff;
	background: #00a3f5;
	/*border:1px #00a3f5 solid;*/
}

/*城市选择*/
.lawer_city_sel .city-second-list,
.lawer_city_sel .city-first-list{
	width: 100%;
	box-sizing: border-box;
}
.lawer_city_sel .city-second-list .item ,
.lawer_city_sel .city-first-list .item{
	float: left;
	box-sizing: border-box;
	width: 25%;
	border:none;
	margin-right: 0;
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: #787878;
	padding: 0;
}
.lawer_city_sel .city-second-list .item div,
.lawer_city_sel .city-first-list .item div{
	margin:0 5px;
	background: #fbfbfb;
	height: 33px;
	line-height: 33px;
	border:1px solid #a5b3bb;
	border-radius: 4px;
	text-align: center;

}
.lawer_city_sel .city-second-list .item.active,
.lawer_city_sel .city-first-list .item.active{
	background:none;
}
.lawer_city_sel .city-second-list .item.active div,
.lawer_city_sel .city-first-list .item.active div{
	color: #fff;
	background: #00a3f5;
}
/*案由选择*/
.case_sel{
	background:#fff;
	overflow: hidden;
}
.case_sel li{
	padding-left: 26px;
	position: relative;
	height: 43px;
	line-height: 43px;
	color: #333;
	font-size: 1.4rem;
}
.case_sel li:before{
	width: 100%;
	position: absolute;
	bottom: 0;
	content: '';
	padding-left: 26px;
	border-bottom: 1px solid #e1e1e1;
}
.case_sel li.right:after{
	position: absolute;
	right: 20px;
	top: 14px;
	content: '';
	width: 10px;
	height: 11px;
	background: url(../img/right.png) no-repeat right 0;
	background-size: 10px 11px;
}
.case_sel li.active{
	background: #d9d9d9;
}

/*企业诉讼*/
.enterp_bg{
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	background: url(../img/enterp_bg.png) no-repeat #fff;
	background-size: 100% 100%;
	padding: 0 2px 0 15px;
}
.no_result_tips{
	padding: 16px 0 7px 0;
	color: #797979;
	font-size: 1.1rem;
}
.no_result_list li{
	position: relative;
	height: 43px;
	line-height: 43px;
	border-top: 0.5px solid #c8c7cc;
	color: #00a3ff;
	font-size: 1.3rem;
}
.no_result_list li a{
	position: relative;
	height: 43px;
	line-height: 43px;
	border-top: 1px solid #c8c7cc;
	color: #00a3ff;
	font-size: 1.3rem;
}

.no_result_list li:after{
	position: absolute;
	right: 13px;
	top: 16px;
	content: '';
	width: 7px;
	height: 13px;
	background: url(../img/go_more.png) no-repeat right;
	background-size: 7px 13px;

}

/*时间选择*/
.time_sel_check{
	padding-left: 11px;
	border-top: 1px solid #89baea;
	border-bottom: 1px solid #89baea;
	background: #ffffff;
}
.time_sel_check li{
	height: 45px;
	line-height: 45px;
	border-top:1px solid #dddddd;
	color: #1b1a20;
	font-size: 1.2rem;
}
.time_sel_check li:first-child{
	border-top:none;
}
.date_picker{
	margin-top: 20px;
	border-top: 1px solid #89baea;
	border-bottom: 1px solid #89baea;
	background: #fff;
	padding: 15px;
}
.date_picker_input_title{
	width: 100px;
	height: 113px;
	line-height: 113px;
	color: #1b1a20;
	font-size: 1.2rem;
	background: url(../img/xuxian.png) no-repeat right;
	background-size: 21px 57px;
}
.date_picker_input{
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	border: 1px solid #7f7f7f;
	margin: 13px 0;
	width: 100%;
	padding: 0 20px;
	color: #686868;
	font-size: 1.2rem;
	box-sizing: border-box;
	background:url(../img/date.png) no-repeat 97%;
	background-size: 15px 16px;
}
.date_picker_input:after{
	width: 15px;
	height: 16px;
	content: '';
	position: absolute;
	right: 0px;
	background:url(../img/date.png) no-repeat;
	background-size: 15px 16px;
}
.date_picker_input.active{
	border: 1px solid #ff7200;

	
}
/*律师详情页 比例图*/
.lawyerDetail_rate{
	color: #000;
	font-size: 1.1rem;
	border:1px solid #ccd3d9;
}
.lawyerDetail_rate li{
	padding: 10px 4px;
	border-top: 1px solid #ccd3d9;
}
.lawyerDetail_rate li:first-child{
	border-top: none;
}
.lawyerDetail_rate li:nth-child(2n){
	background: #f5f5f9;

}
.lawyerDetail_rate_l{
	width: 50%;
}
.lawyerDetail_rate_l .tu{
	margin-top: 11px;
}
.lawyerDetail_rate_l .title{
	position: relative;
}
.lawyerDetail_rate_l .title .num{
	position: absolute;
	right: 0;
}
.lawyerDetail_rate_l .rate{
	border-radius: 10px;
	display: inline-block;
	width: 80px;
	height: 10px;
	background: #e0e0e8;
}
.lawyerDetail_rate_l .rate b{
	border-radius: 10px;
	display: inline-block;
	height: 10px;
	background: #ff7200;
}
.lawyerDetail_rate_l .rate b.blue{
	background: #00a3f5;
}
.zero .rate{
	height: 2px;
	width: 60px;
	position: relative;
	top: 5px;
	left: 15px;
}
.zero .number{display: none;}
.chart_list_more{
	text-align: center;
	border-top: 1px solid #d9d9d9;
	padding: 5px 0;
}
.chart_list_more span{
	padding-right: 15px;
	background: url('../img/sarr.png') no-repeat right;
	background-size: 10px 7px;
}
.chart_list.open .chart_list_more span{
	background: url('../img/sarr_open.png') no-repeat right;
	background-size: 10px 7px;

}
.lawer_zhuce{
	color: #ff3a00;
	font-size: 1.3rem;
	text-align: center;
	padding: 25px 0 !important;
}
.lawer_zhuce span{
	padding-right: 15px;
	background: url(../img/forRegister.png) no-repeat right;
	background-size: 10px 10px;
	
}





