.list_title{
	font-size: 12px;
	color: #1b1a20;
	padding: 10px;
	margin-top: -1px;
	position: relative;
	border-top: 1px solid #ccd3d9;}
	.list_title strong{
		color: #ff3a00;
		font-size: 14px;}
.lawer_box_detail{
	margin-bottom: 0 !important;
}
.lawer_box{
	padding: 5px 13px 0;
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #89baea;
	border-bottom: 1px solid #89baea;}
	.avatar_box{
		width: 79px;
		height: 99px;
		float: left;
		line-height: 24px;
		border: 1px solid #cfcfcf;
		border-radius: 3px;
		color: #000000;
		font-size: 12px;
		text-align: center;
		font-weight: bold;
		position: relative;}
		.avatar_box > img{
			width: 100%;
			height: 76px;
			display: block;
			border-bottom: 1px solid #cccccc;
			border-radius: 3px 3px 0 0;}
		.certified{
			width: 25px;
			height: 25px;
			bottom: 0;
			right: 0;
			margin: 0 0 14px;
			position: absolute;
			text-indent: -99999px;
			background: url(../img/certified.png) no-repeat center center;
			background-size: 25px 25px;}
	.lawer_info{
		/*height: 100px;*/
		min-height: 96px;
		line-height: 24px;
		color: #1b1a20;
		/* font-weight: bold; */
		padding: 0 0 4px 12px;
		margin: 0 0 4px 81px;
		border-bottom: 1px solid #ccd3d9;}
		.lawer_info li{
			min-height: 24px;
			display: block;
			padding-left: 18px;}
			.lawer_info li::before{
				content: '';
				width: 13px;
				height: 24px;
				display: block;
				float: left;
				margin-left: -18px;
				background: url(../img/lawer_info_icons.png) no-repeat 0 0;
				background-size: 13px 100px;}
		.lawer_info li.lawer_info_sex{float: left;min-height: 24px;display: inline-block;background-position: 0 5px;}
			.lawer_info li.lawer_info_sex::before{background-position: 0 5px;}
		.lawer_info li.lawer_info_years{display: inline-block;background-position: 0 -83px;margin-left: 40px;}
			.lawer_info li.lawer_info_years::before{background-position: 0 -83px;}
		.lawer_info li.lawer_info_skill{background-position: 0 -17px;}
			.lawer_info li.lawer_info_skill::before{background-position: 0 -17px;}
		.lawer_info li.lawer_info_address{background-position: 0 -40px;}
			.lawer_info li.lawer_info_address::before{background-position: 0 -40px;}
		.lawer_info li.lawer_info_company{background-position: 0 -63px;}
			.lawer_info li.lawer_info_company::before{background-position: 0 -63px;}
	.lawer_content{
		width: 80px;
		float: left;
		display: none;	
		text-align: center;}
	.lawer_tb_wrap{}
	.lawer_tb{
		width: -webkit-calc(100% - 82px);
		width: -moz-calc(100% - 82px);
		width: calc(100% - 82px);
		margin: 3px 0 0;
		min-height: 116px;
		font-size: 9px;}
		.lawer_tb tr.fold ~ tr{display: none;}
		.lawer_tb td{
			padding: 10px 0;
			text-align: center;
			vertical-align: middle;}
			.d3_wrap{
				margin: 15px 0 0;
				min-width: 80px;
				float: left;
				border-right: 1px solid #d1d3d6;
				text-align: center;}
				.d3_wrap span{
					color: #ff4711;
				}
				.d3{
					width: 75px;
					height: 50px;
					margin-top: 7px;
					display: block;}
			.border_wrap{
				padding: 0px 3px;
				/*margin-left: 5px;*/
				/*white-space: nowrap;*/
				/*border-left: 1px solid #d1d3d6;*/
			}
			.percent_ul{overflow: hidden;}
				.percent_ul li{
					text-align: left;
					padding: 2px 0;
					overflow: hidden;
					white-space: nowrap;
					border-left: 1px solid #009cff;}
					.percent_ul li > *{
						line-height: 15px;
						display: block;
						float: left;}
					.percent_ul span{
						/*width: 60%;*/
						 width: 130px; 
						font-size: .9rem;
						text-indent: 2px;
						line-height: 15px;
						overflow: hidden;
						white-space: nowrap;
						position: relative;
						display: inline-block;}
						.percent_ul .color_span{
							left: 0;
							top: 0;
							color: #fff;
							position: absolute;
							background: #00c0ef;}
						.percent_ul li:nth-child(even) span.color_span{background: #ffa200;}
					.percent_ul small{text-align:center;width: 33px;padding: 0 4px;}
					.percent_ul strong{font-weight: normal;}
	.show_btn{
		height: 25px;
		text-indent: -99999px;
		background: url(../img/icon_arrow.png) no-repeat center 10px;
		background-size: 12px 57px;}
		.show_btn.show{background-position: center -40px;}
.right_btn_wrap{
	position: fixed;
	top: 50%;
	right: 0;
	margin: -50px 0 0 0;}
	.right_btn_wrap a{
		width: 42px;
		height: 42px;
		display: block;
		border-radius: 9px;
		border: 1px solid #9f9f9f;
		text-indent: -99999px;
		background: url(../img/icon_right.png) no-repeat center 15px, url(../img/bg_white.png);
		background-size: 20px 64px, 1px 1px;}
		.right_btn_wrap a:first-child{margin-bottom: 5px;}
		.right_btn_wrap a:first-child + a{background-position: center -32px, 0 0;}
.more{
	color: #403e3e;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 10px;}
footer{
	padding-top: 15px;
	font-size: 13px;
	color: #7b7371;
	text-align: center;}
	footer a{display: inline;}
	footer span{
		display: block;
		font-size: 8px;
		color: #acb0b4;
		line-height: 15px;
		padding: 5px 0 15px;}


@media screen and (max-width: 374px){
	.percent_ul span{
		width: 100px;}
}

























