.header_login{
  background:#fff;
  border-bottom: 1px solid #cccccc;
}


.login_log{
    width: 95px;
    height: 40px;
    background: url(../img/login_logo.png) no-repeat;
    background-size: 95px 40px;
    margin: 15px auto;
}
.login_inputbox{
    height: 49px;
    line-height: 49px;
    width:230px;
    margin: 7px auto;
    border: 1px solid #606366;
    border-radius: 4px;
    position: relative;
    padding-left: 44px;
}
.login_icon{
    position: absolute;
    top: 12px;
    left: 16px;
    width: 13px;
    height: 25px;
    background: url(../img/user.png) no-repeat;
    background-size: 13px 19px;
    border-right: 1px solid #6c808a;
    padding-right: 13px;
}
.login_icon.login_icon_psw{
    background: url(../img/psw.png) no-repeat;
    background-size: 13px 19px;
}
.login_inputbox input{
    height: 25px;
    line-height: 25px;
    background-color:transparent;
    padding-left: 7px;
}
.auto_login{
    padding-left: 13px;
    width: 276px;
    margin: 10px auto;
}
.auto_login .checkbox{
    width: 15px;
    height: 15px;
    border:1px solid #9d9ea0;
    border-radius: 2px;
}
.auto_login .checkbox.active{
    background: url(../img/login_checked.png) no-repeat 2px 2px;
    background-size: 9px 9px;
}
.checkbox_text{
    position: relative;
    top: 2px;
    left: 15px;
    color: #9d9ea0;
    font-size: 1.3rem;
}
.login_button{
    display: block;
    width: 274px;
    height: 49px;
    line-height: 49px;
    border: 1px solid #606366;
    border-radius: 4px;
    margin: 7px auto;
    text-align: center;
    font-size: 1.8rem;
    color: #6c808a;
    background-color: transparent;
}
.login_forget{
    padding-right: 10px;
    font-size: 1.2rem;
    color: #62b6e0;
    padding:10px 25px 0 0;
}

.register_box{
    background: #fff;}
.register_wrap{
    padding-bottom: 20px;
    margin: 0 8.5%;}
    .register_tab{
        padding-top: 17px;
        text-align: center;}
        .register_tab a{
            width: 61px;
            color: #6c808a;
            font-size: 18px;
            margin: 0 5%;
            padding-top: 77px;
            display: inline-block;
            background: url(../img/register_tab.png) no-repeat 0 0 ;
            background-size: 206px 61px;}
            .register_tab a.current{
                color: #000;
                background-position: right 0;}
    .register_tab_enterprise{
        padding-top: 17px;
        text-align: center;}
        .register_tab_enterprise a{
            width: 61px;
            color: #6c808a;
            font-size: 18px;
            margin: 0 5%;
            padding-top: 77px;
            display: inline-block;
            background: url(../img/register_tab1.png) no-repeat right 0 ;
            background-size: 206px 61px;}
            .register_tab_enterprise a.current{
                color: #000;
                background-position: left 0;}
    .register_tab_lawer{padding-top: 1px;}
    .reg_label{
        position: relative;
        line-height: 25px;
        display: block;
        padding: 8px 0;
        border-radius: 3px;
        color: #6c808a;
        font-size: 14px;
        margin: 20px 0;
        border: 1px solid #999999;}
        .reg_label > span,
        .reg_label > .label_title{
            width: 27%;
            float: left;
            display: inline-block;
            text-align: center;
            border-right: 1px solid #6c808a;}
            .reg_label.right > span,
            .reg_label.right > .label_title{
                float: right;
                border-right: none;
                border-left: 1px solid #6c808a;}
        .reg_label input[type="text"],
        .reg_label input[type="password"]{
            width: 72.4%;
            text-indent: 10px;
            line-height: 25px;}
    .apply_label{
        width: 100%;
        display: block;
        color: #6c808a;
        text-align: center;}
        .apply_label a{
            color: #ff5645;
            display: inline-block;
            text-decoration: underline;}
    .btn_red{
        width: 250px;
        height: 44px;
        display: block;
        margin: 0 auto;
        font-size: 17px;
        color: #fff;
        border-radius: 3px;
        text-shadow: 1px 1px 2px #333;
        background: #ff3a00;
        box-shadow: 1px 1px 1px #c5dce8;}
        .apply_label + .btn_red{margin-top: 30px;}
    .btn_red:disabled{
        color: #f2f3f7;
    }


.user a{color: #fff;}







